In [ ]:
#################################### Formats Excel Spreadsheet ################################

In [1]:
import numpy as np
import pandas as pd

In [2]:
# loads the surveys as dataframes

df2016 = pd.read_excel('accountability2016schools.xlsx')
df2012 = pd.read_excel('accountability2012schools.xlsx')

In [3]:
dfstudentcount2016 = pd.read_excel('class_size2016.xlsx')
dfstudentcount2012 = pd.read_excel('class_size2012.xlsx')

# overrides school name of dfstudentounts withdf 201x
del dfstudentcount2012['school']
del dfstudentcount2016['school']
print(len(dfstudentcount2012), len(df2012))

1848 1828

In [4]:
# removes all rows where level is marked insufficient data

df2012 = df2012[df2012.level_2012 != 'Insufficient data']
df2012 = df2012[df2012.level_2012 != '']
print(len(df2012))

df2016 = df2016[df2016.level_2016 != 'Insufficient data']
df2016 = df2016[df2016.level_2016 != '']

# changes levelsl to ints

df2012['level_2012'] = df2012['level_2012'].apply(lambda x: [int(x) for x in x.split() if x.isdigit()][0])
df2016['level_2016'] = df2016['level_2016'].apply(lambda x: [int(x) for x in x.split() if x.isdigit()][0])

df2016 = df2016.merge(dfstudentcount2016, on='org_code')
df2016['student_count_2016'] = df2016['student_count']

df2012 = df2012.merge(dfstudentcount2012, on='org_code')
df2012['student_count_2012'] = df2012['student_count']

print(len(df2016))

1586
1620

In [5]:
df2012[:4]

,school,org_code,level_2012,school_type,student_count,student_count_2012
0,Abby Kelley Foster Charter Public (District) -...,4450105,1,Middle-High School or K-12,1426,1426
1,Abington - Abington High,10505,2,High School,498,498
2,Abington - Frolio Middle School,10405,2,Middle School,346,346
3,Abington - Woodsdale Elementary School,10015,1,Elementary School,315,315

In [6]:
df2016 = df2016.merge(dfstudentcount2016, on='org_code')
df2016['student_count_2016'] = df2016['student_count_x'] 
del df2016['student_count_y']
del df2016['student_count_x']

print(len(df2016))

df2012 = df2012.merge(dfstudentcount2012, on='org_code')
del df2012['student_count_y']
del df2012['student_count_x']

print(len(df2012))

df2016[:5]

1620
1572

,school,org_code,level_2016,school_type,student_count_2016
0,Abby Kelley Foster Charter Public (District) -...,4450105,2,Middle-High School or K-12,1420
1,Abington - Abington High,10505,1,High School,451
2,Abington - Beaver Brook Elementary School,10003,3,Elementary School,643
3,Abington - Frolio Middle School,10405,2,Middle School,342
4,Abington - Woodsdale Elementary School,10015,2,Elementary School,334

In [11]:
dfmerged = df2016.merge(df2012, on='org_code')
del dfmerged['school_y']
del dfmerged['school_type_y']

districtlst = []
# creates new row of just districts
def get_district(value):
    index = value.index(' -')
    if value[: index+1] not in districtlst:
        districtlst.append(value[: index+1])
         
    return value[: index+1]

dfmerged['district'] = dfmerged['school_x'].apply(lambda x : get_district(x))

# creates new row of just schools
def get_school(value): 
    index = value.index(' -') 
    return value[index + 3:]

dfmerged['school_x'] = dfmerged['school_x'].apply(lambda x: get_school(x))

dfmerged[:4]

,school_x,org_code,level_2016,school_type_x,student_count_2016,level_2012,student_count_2012,district
0,Abby Kelley Foster Charter Public School,4450105,2,Middle-High School or K-12,1420,1,1426,Abby Kelley Foster Charter Public (District)
1,Abington High,10505,1,High School,451,2,498,Abington
2,Frolio Middle School,10405,2,Middle School,342,2,346,Abington
3,Woodsdale Elementary School,10015,2,Elementary School,334,1,315,Abington

In [13]:
def weighted_score_2012():
    score_lst = []
    for index, row in dfmerged.iterrows():
        score = row['level_2012'] * row['student_count_2012']
        score_lst.append(score)
    return score_lst

dfmerged['score_2012'] = weighted_score_2012()

In [14]:
def weighted_score_2016():
    score_lst = []
    for index, row in dfmerged.iterrows():
        score = row['level_2016'] * row['student_count_2016']
        score_lst.append(score)
    return score_lst

dfmerged['score_2016'] = weighted_score_2016()

In [15]:
dfmerged

,school_x,org_code,level_2016,school_type_x,student_count_2016,level_2012,student_count_2012,district,score_2012,score_2016
0,Abby Kelley Foster Charter Public School,4450105,2,Middle-High School or K-12,1420,1,1426,Abby Kelley Foster Charter Public (District),1426,2840
1,Abington High,10505,1,High School,451,2,498,Abington,996,451
2,Frolio Middle School,10405,2,Middle School,342,2,346,Abington,692,684
3,Woodsdale Elementary School,10015,2,Elementary School,334,1,315,Abington,315,668
4,Academy Of the Pacific Rim Charter Public School,4120530,2,Middle-High School or K-12,525,1,493,Academy Of the Pacific Rim Charter Public (Dis...,493,1050
5,Acton-Boxborough Regional High,6000505,1,High School,1900,1,1989,Acton-Boxborough,1989,1900
6,Raymond J Grey Junior High,6000405,1,Middle School,895,2,939,Acton-Boxborough,1878,895
7,Acushnet Elementary School,30025,2,Elementary School,558,1,540,Acushnet,540,1116
8,Albert F Ford Middle School,30305,2,Middle School,426,2,463,Acushnet,926,852
9,Cheshire Elementary,6030004,2,Elementary School,248,2,179,Adams-Cheshire,358,496
10,Hoosac Valley Middle & High School,6030505,3,Middle-High School or K-12,637,2,751,Adams-Cheshire,1502,1911
11,Plunkett Elementary,6030020,3,Elementary School,455,3,552,Adams-Cheshire,1656,1365
12,Advanced Math and Science Academy Charter School,4300305,2,Middle-High School or K-12,981,1,969,Advanced Math and Science Academy Charter (Dis...,969,1962
13,Agawam High,50505,2,High School,1242,1,1303,Agawam,1303,2484
14,Agawam Junior High,50405,2,Middle School,607,2,647,Agawam,1294,1214
15,Benjamin J Phelps,50020,2,Elementary School,361,2,366,Agawam,732,722
16,Clifford M Granger,50010,2,Elementary School,296,1,304,Agawam,304,592
17,James Clark School,50030,2,Elementary School,315,2,364,Agawam,728,630
18,Roberta G. Doering School,50303,2,Middle School,598,2,610,Agawam,1220,1196
19,Robinson Park,50025,2,Elementary School,385,2,388,Agawam,776,770
20,Amesbury Elementary,70005,2,Elementary School,423,1,427,Amesbury,427,846
21,Amesbury High,70505,2,High School,621,1,639,Amesbury,639,1242
22,Amesbury Middle,70013,2,Middle School,696,2,738,Amesbury,1476,1392
23,Charles C Cashman Elementary,70010,2,Elementary School,509,1,547,Amesbury,547,1018
24,Crocker Farm Elementary,80009,2,Elementary School,405,2,403,Amherst,806,810
25,Fort River Elementary,80020,2,Elementary School,348,2,385,Amherst,770,696
26,Wildwood Elementary,80050,2,Elementary School,417,2,438,Amherst,876,834
27,Amherst Regional High,6050505,2,High School,926,3,1077,Amherst-Pelham,3231,1852
28,Amherst Regional Middle School,6050405,3,Middle School,457,2,482,Amherst-Pelham,964,1371
29,Andover High,90505,2,High School,1799,1,1794,Andover,1794,3598
...,...,...,...,...,...,...,...,...,...,...
1485,Gates Lane,3480110,2,Elementary School,652,2,700,Worcester,1400,1304
1486,Goddard School/Science Technical,3480100,3,Elementary School,500,3,622,Worcester,1866,1500
1487,Grafton Street,3480115,3,Elementary School,378,3,384,Worcester,1152,1134
1488,Heard Street,3480136,2,Elementary School,292,1,264,Worcester,264,584
1489,Jacob Hiatt Magnet,3480140,2,Elementary School,448,2,454,Worcester,908,896
1490,Lake View,3480145,1,Elementary School,319,2,314,Worcester,628,319
1491,Lincoln Street,3480160,3,Elementary School,262,3,250,Worcester,750,786
1492,May Street,3480175,2,Elementary School,330,2,310,Worcester,620,660
1493,Midland Street,3480185,1,Elementary School,232,2,226,Worcester,452,232
1494,Nelson Place,3480200,2,Elementary School,474,1,501,Worcester,501,948
1495,Norrback Avenue,3480202,1,Elementary School,588,3,621,Worcester,1863,588
1496,North High,3480515,3,High School,1241,3,1146,Worcester,3438,3723
1497,Quinsigamond,3480210,3,Elementary School,756,3,737,Worcester,2211,2268
1498,Rice Square,3480215,3,Elementary School,441,3,403,Worcester,1209,1323
1499,Roosevelt,3480220,1,Elementary School,659,3,725,Worcester,2175,659
1500,South High Community,3480520,3,High School,1268,3,1183,Worcester,3549,3804
1501,Sullivan Middle,3480423,3,Middle School,852,3,907,Worcester,2721,2556
1502,Tatnuck,3480230,2,Elementary School,397,2,436,Worcester,872,794
1503,Thorndyke Road,3480235,1,Elementary School,367,2,340,Worcester,680,367
1504,Union Hill School,3480240,3,Elementary School,513,4,493,Worcester,1972,1539
1505,University Pk Campus School,3480285,2,Middle-High School or K-12,250,1,246,Worcester,246,500
1506,Vernon Hill School,3480280,3,Elementary School,542,3,505,Worcester,1515,1626
1507,Wawecus Road School,3480026,2,Elementary School,145,2,151,Worcester,302,290
1508,West Tatnuck,3480260,1,Elementary School,360,1,362,Worcester,362,360
1509,Woodland Academy,3480030,3,Elementary School,639,3,543,Worcester,1629,1917
1510,Worcester Arts Magnet School,3480225,1,Elementary School,418,1,384,Worcester,384,418
1511,Worcester East Middle,3480420,3,Middle School,780,2,654,Worcester,1308,2340
1512,Worcester Technical High,3480605,1,High School,1348,1,1312,Worcester,1312,1348
1513,Charles E Roderick,3500010,2,Elementary School,453,2,484,Wrentham,968,906
1514,Delaney,3500003,1,Elementary School,625,2,691,Wrentham,1382,625

In [16]:
dfdistrictlevelmerged = pd.DataFrame(districtlst, columns=['district'])

dfdistrictlevelmerged[:4]

                                            district
0      Abby Kelley Foster Charter Public (District)
1                                          Abington
2  Academy Of the Pacific Rim Charter Public (Dis...
3                                  Acton-Boxborough

In [17]:
def number_of_schools():
    lst_schools = []
    count = 1
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        #print(current_district)
        if row['district'] == current_district:
            count += 1
        else:
            current_district = row['district']
            lst_schools.append(count)
            count = 1
    return lst_schools

school_count_lst = number_of_schools()

school_count_lst.pop(0)

school_count_lst = [1] + school_count_lst

school_count_lst.append(2)
print(len(districtlst))

print(len(school_count_lst))

dfdistrictlevelmerged['school count'] = school_count_lst

369
369

In [18]:
dfdistrictlevelmerged[:4]

                                            district  school count
0      Abby Kelley Foster Charter Public (District)              1
1                                          Abington              3
2  Academy Of the Pacific Rim Charter Public (Dis...             1
3                                  Acton-Boxborough              2

In [21]:
def district_score_2012():
    score_lst = []
    score = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            score += row['score_2012']
        else:
            #print(score)
            score_lst.append(score)
            current_district = row['district']
            score = 0
            score += row['score_2012']
    return score_lst

score_lst = district_score_2012()

#score_lst.append(100)

score_lst.append(691)

dfdistrictlevelmerged['scores_2012'] = score_lst

In [22]:
def district_score_2016():
    score_lst = []
    score = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            score += row['score_2016']
        else:
            #print(score)
            score_lst.append(score)
            current_district = row['district']
            score = 0
            score += row['score_2016']
    return score_lst

score_lst = district_score_2016()

#score_lst.append(100)

score_lst.append(691)

dfdistrictlevelmerged['scores_2016'] = score_lst

In [23]:
dfdistrictlevelmerged

,district,school count,scores_2012,scores_2016
0,Abby Kelley Foster Charter Public (District),1,1426,2840
1,Abington,3,2003,1803
2,Academy Of the Pacific Rim Charter Public (Dis...,1,493,1050
3,Acton-Boxborough,2,3867,2795
4,Acushnet,2,1466,1968
5,Adams-Cheshire,3,3516,3772
6,Advanced Math and Science Academy Charter (Dis...,1,969,1962
7,Agawam,7,6357,7608
8,Amesbury,4,3089,4498
9,Amherst,3,2452,2340
10,Amherst-Pelham,2,4195,3223
11,Andover,9,8674,10588
12,Arlington,9,8028,7217
13,Ashburnham-Westminster,4,3425,4088
14,Ashland,3,2561,2569
15,Assabet Valley Regional Vocational Technical,1,1010,2144
16,Athol-Royalston,5,3486,4532
17,Atlantis Charter (District),1,753,2048
18,Attleboro,9,7764,8580
19,Auburn,2,1919,2784
20,Avon,2,1125,1044
21,Ayer Shirley School District,3,2520,2176
22,Barnstable,4,5149,4605
23,Barnstable Community Horace Mann Charter Publi...,1,568,576
24,Bedford,3,3145,3039
25,Belchertown,4,2905,3691
26,Bellingham,4,4218,3994
27,Belmont,6,5347,4398
28,Benjamin Banneker Charter Public (District),1,351,345
29,Benjamin Franklin Classical Charter Public (Di...,1,446,450
...,...,...,...,...
339,Waltham,9,9623,12654
340,Ware,3,3174,2993
341,Wareham,3,4624,5159
342,Watertown,5,6255,5424
343,Wayland,4,3542,2801
344,Webster,1,2397,1395
345,Wellesley,9,8347,6678
346,Wellfleet,1,145,118
347,West Boylston,2,1906,1848
348,West Bridgewater,3,2175,2091
349,West Springfield,7,7126,7251
350,Westborough,6,4428,3738
351,Westfield,11,14542,13434
352,Westford,6,4971,4124
353,Westhampton,1,150,140
354,Weston,5,2770,2729
355,Westport,3,2978,2252
356,Westwood,7,4212,3124
357,Weymouth,11,14422,12903
358,Whately,1,300,264
359,Whitman-Hanson,6,7666,5176
360,Whittier Regional Vocational Technical,1,1223,2654
361,Williamstown,1,892,453
362,Wilmington,6,5065,5388
363,Winchendon,1,990,870
364,Winchester,7,4873,5701
365,Winthrop,2,1477,2730
366,Woburn,11,9030,9431
367,Worcester,44,58312,58278
368,Wrentham,2,691,691

In [ ]:
def number_of_levels_2012():
    level_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            count += row['level_2012']
        else:
            current_district = row['district']
            level_lst.append(count)
            count = 0
            count += row['level_2012']
    return level_lst

level_lst_2012 = number_of_levels_2012()

level_lst_2012.append(2)  

print(len(level_lst_2012))

dfdistrictlevelmerged['levels 2012'] = level_lst_2012

In [ ]:
def number_of_levels_2016():
    level_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            count += row['level_2016']
        else:
            current_district = row['district']
            level_lst.append(count)
            count = 0
            count += row['level_2016']
    return level_lst

level_lst_2016 = number_of_levels_2016()

level_lst_2016.append(2)  

print(len(level_lst_2016))

dfdistrictlevelmerged['levels 2016'] = level_lst_2016

In [ ]:
def number_of_students_2012():
    student_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            count += int(row['student_count_2012'])
        else:
            current_district = row['district']
            student_lst.append(count)
            count = 0
            count += int(row['student_count_2012'])
    return student_lst

students_2012_lst = number_of_students_2012()

students_2012_lst.append(2)  

print(len(students_2012_lst))

dfdistrictlevelmerged['students 2012'] = students_2012_lst

In [ ]:
def number_of_students_2016():
    student_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district']
    for index, row in dfmerged.iterrows():
        if row['district'] == current_district:
            count += int(row['student_count_2016'])
        else:
            current_district = row['district']
            student_lst.append(count)
            count = 0
            count += int(row['student_count_2016'])
    return student_lst

students_2016_lst = number_of_students_2016()

students_2016_lst.append(2)  

print(len(students_2016_lst))

dfdistrictlevelmerged['students 2016'] = students_2016_lst

In [ ]:
dfdistrictlevelmerged[:4]

In [ ]:
# get number of schools at each level

def school_level_counts_2012():
    school_count_1 = []
    school_count_2 = []
    school_count_3 = []
    school_count_4 = []
    school_count_5 = []
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    count5 = 0
    
    current_district = df.iloc[0]['district']
    for index, row in df.iterrows():
        if row['district'] == current_district:
            
            if row['level_2012'] == 1:
                count1 += 1
            elif row['level_2012'] == 2:
                count2 += 1
            elif row['level_2012'] == 3:
                count3 += 1
            elif row['level_2012'] == 4:
                count4 += 1
            elif row['level_2012'] == 5:
                count5 += 1
            

        else:
            if index == 0:
                if row['level_2012'] == 1:
                    count1 += 1
                elif row['level_2012'] == 2:
                    count2 += 1
                elif row['level_2012'] == 3:
                    count3 += 1
                elif row['level_2012'] == 4:
                    count4 += 1
                elif row['level_2012'] == 5:
                    count5 += 1
                current_district = row['district']
            else:
                school_count_1.append(count1)
                school_count_2.append(count2)
                school_count_3.append(count3)
                school_count_4.append(count4)
                school_count_5.append(count5)
                count1 = 0
                count2 = 0
                count3 = 0
                count4 = 0
                count5 = 0
                if row['level_2012'] == 1:
                    count1 += 1
                elif row['level_2012'] == 2:
                    count2 += 1
                elif row['level_2012'] == 3:
                    count3 += 1
                elif row['level_2012'] == 4:
                    count4 += 1
                elif row['level_2012'] == 5:
                    count5 += 1
                current_district = row['district']
    school_count_1.append(0)
    school_count_2.append(2)
    school_count_3.append(0)
    school_count_4.append(0)
    school_count_5.append(0)
    return school_count_1, school_count_2, school_count_3, school_count_4, school_count_5 

level_1_schools_2012, level_2_schools_2012, level_3_schools_2012, level_4_schools_2012, \
level_5_schools_2012 = school_level_counts_2012()

print(len(level_2_schools_2012))

#schools_above_3_2012_lst.pop(0)

#schools_above_3_2012_lst.append(0)

dfdistrictlevel['level 1 2012'] = level_1_schools_2012
dfdistrictlevel['level 2 2012'] = level_2_schools_2012
dfdistrictlevel['level 3 2012'] = level_3_schools_2012
dfdistrictlevel['level 4 2012'] = level_4_schools_2012
dfdistrictlevel['level 5 2012'] = level_5_schools_2012

In [ ]:
# get number of schools level 3 or below at 2012 and at 2016

def school_level_counts_2016():
    school_count_1 = []
    school_count_2 = []
    school_count_3 = []
    school_count_4 = []
    school_count_5 = []
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    count5 = 0
    
    current_district = df.iloc[0]['district']
    for index, row in df.iterrows():
        if row['district'] == current_district:
            
            if row['level_2016'] == 1:
                count1 += 1
            elif row['level_2016'] == 2:
                count2 += 1
            elif row['level_2016'] == 3:
                count3 += 1
            elif row['level_2016'] == 4:
                count4 += 1
            elif row['level_2016'] == 5:
                count5 += 1
            

        else:
            if index == 0:
                if row['level_2016'] == 1:
                    count1 += 1
                elif row['level_2016'] == 2:
                    count2 += 1
                elif row['level_2016'] == 3:
                    count3 += 1
                elif row['level_2016'] == 4:
                    count4 += 1
                elif row['level_2016'] == 5:
                    count5 += 1
                current_district = row['district']
            else:
                school_count_1.append(count1)
                school_count_2.append(count2)
                school_count_3.append(count3)
                school_count_4.append(count4)
                school_count_5.append(count5)
                count1 = 0
                count2 = 0
                count3 = 0
                count4 = 0
                count5 = 0
                if row['level_2016'] == 1:
                    count1 += 1
                elif row['level_2016'] == 2:
                    count2 += 1
                elif row['level_2016'] == 3:
                    count3 += 1
                elif row['level_2016'] == 4:
                    count4 += 1
                elif row['level_2016'] == 5:
                    count5 += 1
                current_district = row['district']
    school_count_1.append(1)
    school_count_2.append(1)
    school_count_3.append(0)
    school_count_4.append(0)
    school_count_5.append(0)
    return school_count_1, school_count_2, school_count_3, school_count_4, school_count_5 

level_1_schools_2016, level_2_schools_2016, level_3_schools_2016, level_4_schools_2016, \
level_5_schools_2016 = school_level_counts_2016()

print(len(level_2_schools_2016))

#schools_above_3_2016_lst.pop(0)

#schools_above_3_2016_lst.append(0)

dfdistrictlevel['level 1 2016'] = level_1_schools_2016
dfdistrictlevel['level 2 2016'] = level_2_schools_2016
dfdistrictlevel['level 3 2016'] = level_3_schools_2016
dfdistrictlevel['level 4 2016'] = level_4_schools_2016
dfdistrictlevel['level 5 2016'] = level_5_schools_2016

In [ ]:
# gets the delta difference in school level between 2016 and 2012

deltalst = []
for index, row in dfdistrictlevel.iterrows():
    deltalst.append( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']- (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) )
    
dfdistrictlevel['change in level'] = deltalst

In [ ]:
writer = pd.ExcelWriter('dflevels.xlsx')
dfdistrictlevel.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
# new dataframe that uses percentage and removes districts with 4 or less schools

dfleveldelta = dfdistrictlevel[dfdistrictlevel['school count'] > 12]

dfleveldelta = dfleveldelta[dfleveldelta['change in level'] != 0]

#dfleveldelta['% schools higher than 3'] = dfleveldelta['% schools higher than 3'].apply(lambda x: round(x)) 

writer = pd.ExcelWriter('dflevels_schools_size_12.xlsx')
dfleveldelta.to_excel(writer,'Sheet1')
writer.save()

del dfleveldelta['change in level']
dfleveldelta

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'] , ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='r', alpha=0.4)

rects2 = ax.bar(ind + width, x2, width, color='b', alpha=0.4)

# add some text for labels, title and axes ticks
ax.set_ylabel('number of schools level 3 or higher')
ax.set_xlabel('district')
ax.set_title('Net Number of Schools Level 3 or Higher 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,60])


plt.savefig('schools_level_3or_higher_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'] , ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) / row['school count'] )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) / row['school count'] )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('percentage of level 3 or higher')
ax.set_xlabel('district')
ax.set_title('Percentage of Schools Level 3 or Higher out of Total Schools 2012 vs. 2016')
ax.set_xticks(ind + width -1 / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,1])


#plt.savefig('percentage_schools_level_3or_higher_out_of_total_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'])  )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'])  )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('number of level 3 schools')
ax.set_xlabel('district')
ax.set_title('number of level 3 schools 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,50])


#plt.savefig('schools_level_3_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 4 2012']) + (row['level 5 2012'])  )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 4 2016']) + (row['level 5 2016'])  )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('number of level 4 and 5 schools')
ax.set_xlabel('district')
ax.set_title('Number of Level 4 and 5 Schools 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,13])


plt.savefig('schools_level_4-5_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

x = []
for index, row in dfplot.iterrows():
    #x.append(  (( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) -  (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016'])) / row['school count'] )
    x.append(  1 - ((row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) /  ( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) ))
    

width = 0.95       # the width of the bars

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x, width, color='blue', alpha=0.3)
rects1[6].set_color('red')


# add some text for labels, title and axes ticks
ax.set_ylabel('Percentage of Schools')
ax.set_xlabel('district')
ax.set_title('Percentage of Schools that were level 3 or higher in 2012 and are level 2 or lower in 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])
plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')

plt.ylim([0,.55])


plt.savefig('percent_schools_rose_from_lvl3_barchart.png', dpi=600, bbox_inches='tight')
plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt


x = dfplot['number of schools at level 3 or higher 2012']
y = dfplot['number of schools at level 3 or higher 2016']

colors = np.random.rand(20)

plt.scatter(x, y, s=(dfplot['% schools higher than 3'].apply(lambda x: x * 1000)), c='maroon', alpha=0.5)

plt.show()