In [ ]:
#################################### Formats Excel Spreadsheet ################################

In [219]:
import numpy as np
import pandas as pd

In [220]:
# loads the surveys as dataframes

df2016 = pd.read_excel('accountability2016schools.xlsx')
df2012 = pd.read_excel('accountability2012schools.xlsx')

In [221]:
dfstudentcount2016 = pd.read_excel('class_size2016.xlsx')
dfstudentcount2012 = pd.read_excel('class_size2012.xlsx')

# overrides school name of dfstudentounts withdf 201x
del dfstudentcount2012['school']
del dfstudentcount2016['school']
print(len(dfstudentcount2012), len(df2012))

1848 1828

In [222]:
# removes all rows where level is marked insufficient data

df2012 = df2012[df2012.level_2012 != 'Insufficient data']
df2012 = df2012[df2012.level_2012 != '']
print(len(df2012))

df2016 = df2016[df2016.level_2016 != 'Insufficient data']
df2016 = df2016[df2016.level_2016 != '']

print(len(df2016))

1586
1621

In [225]:
df2016_merged = df2016.merge(dfstudentcount2016, on='org_code')

print(len(df2016))

df2012 = df2012.merge(dfstudentcount2012, on='org_code')

print(len(df2012))

# creates new row of just districts
def get_district(value):
    index = value.index(' -')
    if value[: index+1] not in districtlst:
        return value[: index+1]

# creates new row of just schools
def get_school(value): 
    index = value.index(' -') 
    return value[index + 3:]

df2012[:5]

1621
1572

,school,org_code,level_2012,school_type,student_count
0,Abby Kelley Foster Charter Public (District) -...,4450105,Level 1,Middle-High School or K-12,1426
1,Abington - Abington High,10505,Level 2,High School,498
2,Abington - Frolio Middle School,10405,Level 2,Middle School,346
3,Abington - Woodsdale Elementary School,10015,Level 1,Elementary School,315
4,Academy Of the Pacific Rim Charter Public (Dis...,4120530,Level 1,Middle-High School or K-12,493

In [226]:
df2012['level_2012'] = df2012['level_2012'].apply(lambda x: [int(x) for x in x.split() if x.isdigit()][0])
df2016['level_2016'] = df2016['level_2016'].apply(lambda x: [int(x) for x in x.split() if x.isdigit()][0])

# creates row of districts
df2012['district'] = df2012['school'].apply(lambda x: get_district(x))
df2016['district'] = df2016['school'].apply(lambda x: get_district(x))

# creates row of schools
df2012['school'] = df2012['school'].apply(lambda x: get_school(x))
df2016['school'] = df2016['school'].apply(lambda x: get_school(x))

In [227]:
dfmerged = df2016.merge(df2012, on='org_code')

del dfmerged['school_y']
del dfmerged['school_type_y']
del dfmerged['district_y']

In [217]:
def weighted_score():
    score_lst = []
    for index, row in dfmerged.iterrows():
        score = (row['level_2012'] - row['level_2016']) * row['student_count']
        score_lst.append(score)
    return score_lst

dfmerged['score'] = weighted_score()

KeyError: 'student_count'

In [166]:
dfmerged

,school_x,org_code,level_2016,school_type_x,district_x,level_2012,student_count,score
0,Abby Kelley Foster Charter Public School,4450105,2,Middle-High School or K-12,Abby Kelley Foster Charter Public (District),1,1426,-1426
1,Abington High,10505,1,High School,Abington,2,498,498
2,Frolio Middle School,10405,2,Middle School,Abington,2,346,0
3,Woodsdale Elementary School,10015,2,Elementary School,Abington,1,315,-315
4,Academy Of the Pacific Rim Charter Public School,4120530,2,Middle-High School or K-12,Academy Of the Pacific Rim Charter Public (Dis...,1,493,-493
5,Acton-Boxborough Regional High,6000505,1,High School,Acton-Boxborough,1,1989,0
6,Raymond J Grey Junior High,6000405,1,Middle School,Acton-Boxborough,2,939,939
7,Acushnet Elementary School,30025,2,Elementary School,Acushnet,1,540,-540
8,Albert F Ford Middle School,30305,2,Middle School,Acushnet,2,463,0
9,Cheshire Elementary,6030004,2,Elementary School,Adams-Cheshire,2,179,0
10,Hoosac Valley Middle & High School,6030505,3,Middle-High School or K-12,Adams-Cheshire,2,751,-751
11,Plunkett Elementary,6030020,3,Elementary School,Adams-Cheshire,3,552,0
12,Advanced Math and Science Academy Charter School,4300305,2,Middle-High School or K-12,Advanced Math and Science Academy Charter (Dis...,1,969,-969
13,Agawam High,50505,2,High School,Agawam,1,1303,-1303
14,Agawam Junior High,50405,2,Middle School,Agawam,2,647,0
15,Benjamin J Phelps,50020,2,Elementary School,Agawam,2,366,0
16,Clifford M Granger,50010,2,Elementary School,Agawam,1,304,-304
17,James Clark School,50030,2,Elementary School,Agawam,2,364,0
18,Roberta G. Doering School,50303,2,Middle School,Agawam,2,610,0
19,Robinson Park,50025,2,Elementary School,Agawam,2,388,0
20,Amesbury Elementary,70005,2,Elementary School,Amesbury,1,427,-427
21,Amesbury High,70505,2,High School,Amesbury,1,639,-639
22,Amesbury Middle,70013,2,Middle School,Amesbury,2,738,0
23,Charles C Cashman Elementary,70010,2,Elementary School,Amesbury,1,547,-547
24,Crocker Farm Elementary,80009,2,Elementary School,Amherst,2,403,0
25,Fort River Elementary,80020,2,Elementary School,Amherst,2,385,0
26,Wildwood Elementary,80050,2,Elementary School,Amherst,2,438,0
27,Amherst Regional High,6050505,2,High School,Amherst-Pelham,3,1077,1077
28,Amherst Regional Middle School,6050405,3,Middle School,Amherst-Pelham,2,482,-482
29,Andover High,90505,2,High School,Andover,1,1794,-1794
...,...,...,...,...,...,...,...,...
1486,Gates Lane,3480110,2,Elementary School,Worcester,2,700,0
1487,Goddard School/Science Technical,3480100,3,Elementary School,Worcester,3,622,0
1488,Grafton Street,3480115,3,Elementary School,Worcester,3,384,0
1489,Heard Street,3480136,2,Elementary School,Worcester,1,264,-264
1490,Jacob Hiatt Magnet,3480140,2,Elementary School,Worcester,2,454,0
1491,Lake View,3480145,1,Elementary School,Worcester,2,314,314
1492,Lincoln Street,3480160,3,Elementary School,Worcester,3,250,0
1493,May Street,3480175,2,Elementary School,Worcester,2,310,0
1494,Midland Street,3480185,1,Elementary School,Worcester,2,226,226
1495,Nelson Place,3480200,2,Elementary School,Worcester,1,501,-501
1496,Norrback Avenue,3480202,1,Elementary School,Worcester,3,621,1242
1497,North High,3480515,3,High School,Worcester,3,1146,0
1498,Quinsigamond,3480210,3,Elementary School,Worcester,3,737,0
1499,Rice Square,3480215,3,Elementary School,Worcester,3,403,0
1500,Roosevelt,3480220,1,Elementary School,Worcester,3,725,1450
1501,South High Community,3480520,3,High School,Worcester,3,1183,0
1502,Sullivan Middle,3480423,3,Middle School,Worcester,3,907,0
1503,Tatnuck,3480230,2,Elementary School,Worcester,2,436,0
1504,Thorndyke Road,3480235,1,Elementary School,Worcester,2,340,340
1505,Union Hill School,3480240,3,Elementary School,Worcester,4,493,493
1506,University Pk Campus School,3480285,2,Middle-High School or K-12,Worcester,1,246,-246
1507,Vernon Hill School,3480280,3,Elementary School,Worcester,3,505,0
1508,Wawecus Road School,3480026,2,Elementary School,Worcester,2,151,0
1509,West Tatnuck,3480260,1,Elementary School,Worcester,1,362,0
1510,Woodland Academy,3480030,3,Elementary School,Worcester,3,543,0
1511,Worcester Arts Magnet School,3480225,1,Elementary School,Worcester,1,384,0
1512,Worcester East Middle,3480420,3,Middle School,Worcester,2,654,-654
1513,Worcester Technical High,3480605,1,High School,Worcester,1,1312,0
1514,Charles E Roderick,3500010,2,Elementary School,Wrentham,2,484,0
1515,Delaney,3500003,1,Elementary School,Wrentham,2,691,691

In [185]:
districtlst = []
for index, row in dfmerged.iterrows():
    if row['district_x'] not in districtlst:
        districtlst.append(row['district_x'])


dfdistrictlevelmerged = pd.DataFrame(districtlst, columns=['district'])

def district_score():
    score_lst = []
    score = 0
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        if row['district_x'] == current_district:
            score += int(row['score'])
        else:
            #print(score)
            score_lst.append(score)
            current_district = row['district_x']
            score = 0
            score += int(row['score'])
    return score_lst

score_lst = district_score()

#score_lst.append(100)

score_lst.append(691)

dfdistrictlevelmerged['scores'] = score_lst

In [188]:
def number_of_schools():
    lst_schools = []
    count = 1
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        #print(current_district)
        if row['district_x'] == current_district:
            count += 1
        else:
            current_district = row['district_x']
            lst_schools.append(count)
            count = 1
    return lst_schools

school_count_lst = number_of_schools()

school_count_lst.pop(0)

school_count_lst = [1] + school_count_lst

school_count_lst.append(2)
print(len(districtlst))

print(len(school_count_lst))

dfdistrictlevelmerged['school count'] = school_count_lst

369
369

In [194]:
def number_of_levels_2012():
    level_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        if row['district_x'] == current_district:
            count += row['level_2012']
        else:
            current_district = row['district_x']
            level_lst.append(count)
            count = 0
            count += row['level_2012']
    return level_lst

level_lst_2012 = number_of_levels_2012()

level_lst_2012.append(2)  

print(len(level_lst_2012))

dfdistrictlevelmerged['levels 2012'] = level_lst_2012

369

In [200]:
def number_of_levels_2016():
    level_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        if row['district_x'] == current_district:
            count += row['level_2016']
        else:
            current_district = row['district_x']
            level_lst.append(count)
            count = 0
            count += row['level_2016']
    return level_lst

level_lst_2016 = number_of_levels_2016()

level_lst_2016.append(2)  

print(len(level_lst_2016))

dfdistrictlevelmerged['levels 2016'] = level_lst_2016

369

In [207]:
def number_of_students_2012():
    student_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        if row['district_x'] == current_district:
            count += int(row['student_count'])
        else:
            current_district = row['district_x']
            student_lst.append(count)
            count = 0
            count += int(row['student_count'])
    return student_lst

students_2012_lst = number_of_students_2012()

students_2012_lst.append(2)  

print(len(students_2012_lst))

dfdistrictlevelmerged['students 2012'] = students_2012_lst

369

In [208]:
def number_of_students_2016():
    student_lst = []
    count = 0
    current_district = dfmerged.iloc[0]['district_x']
    for index, row in dfmerged.iterrows():
        if row['district_x'] == current_district:
            count += int(row['student_count'])
        else:
            current_district = row['district_x']
            student_lst.append(count)
            count = 0
            count += int(row['student_count'])
    return student_lst

students_2016_lst = number_of_students_2016()

students_2016_lst.append(2)  

print(len(students_2016_lst))

dfdistrictlevelmerged['students 2016'] = students_2016_lst

369

In [209]:
dfdistrictlevelmerged

,district,scores,school count,levels 2012,levels 2016,students 2016,students 2012
0,Abby Kelley Foster Charter Public (District),-1426,1,1,2,1426,1426
1,Abington,183,3,5,5,1159,1159
2,Academy Of the Pacific Rim Charter Public (Dis...,-493,1,1,2,493,493
3,Acton-Boxborough,939,2,3,2,2928,2928
4,Acushnet,-540,2,3,4,1003,1003
5,Adams-Cheshire,-751,3,7,8,1482,1482
6,Advanced Math and Science Academy Charter (Dis...,-969,1,1,2,969,969
7,Agawam,-1607,7,12,14,3982,3982
8,Amesbury,-1613,4,5,8,2351,2351
9,Amherst,0,3,6,6,1226,1226
10,Amherst-Pelham,595,2,5,5,1559,1559
11,Andover,-1785,9,14,15,5986,5986
12,Arlington,1515,9,14,14,4838,4838
13,Ashburnham-Westminster,-303,4,7,7,2038,2038
14,Ashland,0,3,4,4,1916,1916
15,Assabet Valley Regional Vocational Technical,-1010,1,1,2,1010,1010
16,Athol-Royalston,-690,5,13,16,1353,1353
17,Atlantis Charter (District),-753,1,1,2,753,753
18,Attleboro,-875,9,13,12,5745,5745
19,Auburn,-749,2,3,4,1334,1334
20,Avon,0,2,3,3,770,770
21,Ayer Shirley School District,544,3,6,5,1260,1260
22,Barnstable,338,4,6,5,2902,2902
23,Barnstable Community Horace Mann Charter Publi...,0,1,2,2,284,284
24,Bedford,0,3,5,5,2030,2030
25,Belchertown,-941,4,5,7,2308,2308
26,Bellingham,452,4,8,7,2109,2109
27,Belmont,1259,6,7,6,4088,4088
28,Benjamin Banneker Charter Public (District),0,1,1,1,351,351
29,Benjamin Franklin Classical Charter Public (Di...,0,1,1,1,446,446
...,...,...,...,...,...,...,...
339,Waltham,-1802,9,19,19,5053,5053
340,Ware,156,3,7,7,1336,1336
341,Wareham,-607,3,7,8,1968,1968
342,Watertown,765,5,11,10,2745,2745
343,Wayland,583,4,6,5,2519,2519
344,Webster,0,1,3,3,799,799
345,Wellesley,1794,9,13,11,4993,4993
346,Wellfleet,0,1,1,1,145,145
347,West Boylston,0,2,4,4,953,953
348,West Bridgewater,0,3,5,5,1220,1220
349,West Springfield,129,7,14,11,3564,3564
350,Westborough,851,6,7,6,3577,3577
351,Westfield,357,11,27,25,5756,5756
352,Westford,812,6,8,6,4159,4159
353,Westhampton,0,1,1,1,150,150
354,Weston,-202,5,6,6,2406,2406
355,Westport,0,3,6,6,1489,1489
356,Westwood,1063,7,9,7,3149,3149
357,Weymouth,732,11,20,21,6660,6660
358,Whately,0,1,2,2,150,150
359,Whitman-Hanson,2166,6,12,9,3833,3833
360,Whittier Regional Vocational Technical,-1223,1,1,2,1223,1223
361,Williamstown,446,1,2,1,446,446
362,Wilmington,-597,6,10,10,3221,3221
363,Winchendon,0,1,3,3,330,330
364,Winchester,-572,7,8,8,4409,4409
365,Winthrop,-551,2,3,4,1014,1014
366,Woburn,-432,11,19,21,4829,4829
367,Worcester,2033,44,107,101,23805,23805
368,Wrentham,691,2,2,2,2,2

In [ ]:
dfdistrictlevel['school count'] = school_count_lst

dfdistrictlevel

In [ ]:
# get number of schools at each level

def school_level_counts_2012():
    school_count_1 = []
    school_count_2 = []
    school_count_3 = []
    school_count_4 = []
    school_count_5 = []
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    count5 = 0
    
    current_district = df.iloc[0]['district']
    for index, row in df.iterrows():
        if row['district'] == current_district:
            
            if row['level_2012'] == 1:
                count1 += 1
            elif row['level_2012'] == 2:
                count2 += 1
            elif row['level_2012'] == 3:
                count3 += 1
            elif row['level_2012'] == 4:
                count4 += 1
            elif row['level_2012'] == 5:
                count5 += 1
            

        else:
            if index == 0:
                if row['level_2012'] == 1:
                    count1 += 1
                elif row['level_2012'] == 2:
                    count2 += 1
                elif row['level_2012'] == 3:
                    count3 += 1
                elif row['level_2012'] == 4:
                    count4 += 1
                elif row['level_2012'] == 5:
                    count5 += 1
                current_district = row['district']
            else:
                school_count_1.append(count1)
                school_count_2.append(count2)
                school_count_3.append(count3)
                school_count_4.append(count4)
                school_count_5.append(count5)
                count1 = 0
                count2 = 0
                count3 = 0
                count4 = 0
                count5 = 0
                if row['level_2012'] == 1:
                    count1 += 1
                elif row['level_2012'] == 2:
                    count2 += 1
                elif row['level_2012'] == 3:
                    count3 += 1
                elif row['level_2012'] == 4:
                    count4 += 1
                elif row['level_2012'] == 5:
                    count5 += 1
                current_district = row['district']
    school_count_1.append(0)
    school_count_2.append(2)
    school_count_3.append(0)
    school_count_4.append(0)
    school_count_5.append(0)
    return school_count_1, school_count_2, school_count_3, school_count_4, school_count_5 

level_1_schools_2012, level_2_schools_2012, level_3_schools_2012, level_4_schools_2012, \
level_5_schools_2012 = school_level_counts_2012()

print(len(level_2_schools_2012))

#schools_above_3_2012_lst.pop(0)

#schools_above_3_2012_lst.append(0)

dfdistrictlevel['level 1 2012'] = level_1_schools_2012
dfdistrictlevel['level 2 2012'] = level_2_schools_2012
dfdistrictlevel['level 3 2012'] = level_3_schools_2012
dfdistrictlevel['level 4 2012'] = level_4_schools_2012
dfdistrictlevel['level 5 2012'] = level_5_schools_2012

In [ ]:
# get number of schools level 3 or below at 2012 and at 2016

def school_level_counts_2016():
    school_count_1 = []
    school_count_2 = []
    school_count_3 = []
    school_count_4 = []
    school_count_5 = []
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    count5 = 0
    
    current_district = df.iloc[0]['district']
    for index, row in df.iterrows():
        if row['district'] == current_district:
            
            if row['level_2016'] == 1:
                count1 += 1
            elif row['level_2016'] == 2:
                count2 += 1
            elif row['level_2016'] == 3:
                count3 += 1
            elif row['level_2016'] == 4:
                count4 += 1
            elif row['level_2016'] == 5:
                count5 += 1
            

        else:
            if index == 0:
                if row['level_2016'] == 1:
                    count1 += 1
                elif row['level_2016'] == 2:
                    count2 += 1
                elif row['level_2016'] == 3:
                    count3 += 1
                elif row['level_2016'] == 4:
                    count4 += 1
                elif row['level_2016'] == 5:
                    count5 += 1
                current_district = row['district']
            else:
                school_count_1.append(count1)
                school_count_2.append(count2)
                school_count_3.append(count3)
                school_count_4.append(count4)
                school_count_5.append(count5)
                count1 = 0
                count2 = 0
                count3 = 0
                count4 = 0
                count5 = 0
                if row['level_2016'] == 1:
                    count1 += 1
                elif row['level_2016'] == 2:
                    count2 += 1
                elif row['level_2016'] == 3:
                    count3 += 1
                elif row['level_2016'] == 4:
                    count4 += 1
                elif row['level_2016'] == 5:
                    count5 += 1
                current_district = row['district']
    school_count_1.append(1)
    school_count_2.append(1)
    school_count_3.append(0)
    school_count_4.append(0)
    school_count_5.append(0)
    return school_count_1, school_count_2, school_count_3, school_count_4, school_count_5 

level_1_schools_2016, level_2_schools_2016, level_3_schools_2016, level_4_schools_2016, \
level_5_schools_2016 = school_level_counts_2016()

print(len(level_2_schools_2016))

#schools_above_3_2016_lst.pop(0)

#schools_above_3_2016_lst.append(0)

dfdistrictlevel['level 1 2016'] = level_1_schools_2016
dfdistrictlevel['level 2 2016'] = level_2_schools_2016
dfdistrictlevel['level 3 2016'] = level_3_schools_2016
dfdistrictlevel['level 4 2016'] = level_4_schools_2016
dfdistrictlevel['level 5 2016'] = level_5_schools_2016

In [ ]:
# gets the delta difference in school level between 2016 and 2012

deltalst = []
for index, row in dfdistrictlevel.iterrows():
    deltalst.append( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']- (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) )
    
dfdistrictlevel['change in level'] = deltalst

In [ ]:
writer = pd.ExcelWriter('dflevels.xlsx')
dfdistrictlevel.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
# new dataframe that uses percentage and removes districts with 4 or less schools

dfleveldelta = dfdistrictlevel[dfdistrictlevel['school count'] > 12]

dfleveldelta = dfleveldelta[dfleveldelta['change in level'] != 0]

#dfleveldelta['% schools higher than 3'] = dfleveldelta['% schools higher than 3'].apply(lambda x: round(x)) 

writer = pd.ExcelWriter('dflevels_schools_size_12.xlsx')
dfleveldelta.to_excel(writer,'Sheet1')
writer.save()

del dfleveldelta['change in level']
dfleveldelta

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'] , ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='r', alpha=0.4)

rects2 = ax.bar(ind + width, x2, width, color='b', alpha=0.4)

# add some text for labels, title and axes ticks
ax.set_ylabel('number of schools level 3 or higher')
ax.set_xlabel('district')
ax.set_title('Net Number of Schools Level 3 or Higher 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,60])


plt.savefig('schools_level_3or_higher_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'] , ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) / row['school count'] )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) / row['school count'] )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('percentage of level 3 or higher')
ax.set_xlabel('district')
ax.set_title('Percentage of Schools Level 3 or Higher out of Total Schools 2012 vs. 2016')
ax.set_xticks(ind + width -1 / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,1])


#plt.savefig('percentage_schools_level_3or_higher_out_of_total_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 3 2012'])  )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 3 2016'])  )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('number of level 3 schools')
ax.set_xlabel('district')
ax.set_title('number of level 3 schools 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,50])


#plt.savefig('schools_level_3_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

width = 0.35       # the width of the bars


x1 = []
for index, row in dfplot.iterrows():
    x1.append( (row['level 4 2012']) + (row['level 5 2012'])  )

x2 = []
for index, row in dfplot.iterrows():
    x2.append( (row['level 4 2016']) + (row['level 5 2016'])  )

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x1, width, color='blue', alpha=0.3)
rects1[6].set_color('red')

rects2 = ax.bar(ind + width, x2, width, color='lightgreen', alpha=0.4)
rects2[6].set_color('cyan')

# add some text for labels, title and axes ticks
ax.set_ylabel('number of level 4 and 5 schools')
ax.set_xlabel('district')
ax.set_title('Number of Level 4 and 5 Schools 2012 vs. 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])

ax.legend((rects1[0], rects2[0]), ('2012', '2016'))

plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')
        

plt.ylim([0,13])


plt.savefig('schools_level_4-5_2012vs2016.png', dpi=600, bbox_inches='tight')


plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

dfplot = dfleveldelta.sort_values(['school count'], ascending=False)

N = len(dfplot)

x = []
for index, row in dfplot.iterrows():
    #x.append(  (( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) -  (row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016'])) / row['school count'] )
    x.append(  1 - ((row['level 3 2016'] + row['level 4 2016'] + row['level 5 2016']) /  ( row['level 3 2012'] + row['level 4 2012'] + row['level 5 2012']) ))
    

width = 0.95       # the width of the bars

ind = np.arange(N)
fig, ax = plt.subplots()

rects1 = ax.bar(ind, x, width, color='blue', alpha=0.3)
rects1[6].set_color('red')


# add some text for labels, title and axes ticks
ax.set_ylabel('Percentage of Schools')
ax.set_xlabel('district')
ax.set_title('Percentage of Schools that were level 3 or higher in 2012 and are level 2 or lower in 2016')
ax.set_xticks(ind + width / len(dfplot) )
ax.set_xticklabels(dfplot['district'])
plt.setp(ax.get_xticklabels(), rotation=35, horizontalalignment='right')

plt.ylim([0,.55])


plt.savefig('percent_schools_rose_from_lvl3_barchart.png', dpi=600, bbox_inches='tight')
plt.show()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt


x = dfplot['number of schools at level 3 or higher 2012']
y = dfplot['number of schools at level 3 or higher 2016']

colors = np.random.rand(20)

plt.scatter(x, y, s=(dfplot['% schools higher than 3'].apply(lambda x: x * 1000)), c='maroon', alpha=0.5)

plt.show()